@{
    ViewData["Title"] = "About me";
}

<style>
  .details{
      font-size:25px;
      margin-top:5%;
      background-color:palegoldenrod;
      width:45%;
  }

  .edu{
      font-size:25px;
      margin-top:5%;
      background-color:palegoldenrod;
      width:45%;
  }
   #skill{
             position:absolute;
             float:right; 
             margin-left:42%;
             height:550px;
             width:500px;
             border-radius:50%;
             margin-top:18%;
         }
</style>
<p style="margin-top:5%;margin-bottom:3%;font-size:60px;margin-left:19px;font-family:monotype corsiva"><b>Let me give you my brief Introduction</b></p>
 <img id="skill" src="~/images/women.png">      
<h1 style="color:blue;font-size:45px"><b>Personal Details</b></h1>
 <div class="details">   
  <p>  Name: Rushika Shrestha</p>
  <p>  Age: 20 years</p>
  <p>  Address: DLF Phase 3,U block,
      Gurgaon</p>
   <p>Email:rushika.shrestha@braindigit.com</p>
</div>

<h1 style="color:blue;font-size:45px;margin-top:8%">Educational Details</h1>
   <div class=edu>
   <p>Class 10th: Sherwood Convent School</p><p style="margin-left:14%">9 C.G.P.A</p>  
    <p>Class 12th: Sherwood Convent School</p><p style="margin-left:14%">84%</p> 
    <p>The NorthCap University,2018<br>Bachelors in Computer Science Engineering </p>  

</div>

<h1 style="color:blue;font-size:45px;margin-top:8%">Achievements</h1>
<div class="details">
   &#10024;Certified Tableau Course <br>
   &#10024;Certified Algorithmic Toolbox Course<br>
   &#10024;Cisco Packet Tracer Course<br>
</div>