
    @{
        ViewData["Title"]="My Works";
        }
   
<style>
    .heading{
        margin-left:35%;
        font-size:70px;
        
    }
    .img{
        margin-left:5%;
        height:450px;
        width:350px;
        margin-top:25%;
    }
    .text{
        position:absolute;
        font-size:35px;
        margin-left:47%;
        margin-top:25%;
    }
</style>

<h1 class="heading">My works</h1>

<center>
    <p>Follow my work on LinkedIn</p>
    <a href="https://www.linkedin.com/">LinkedIn</a>
</center>

<p class="text"><b style="color:cyan">&#10024; Covid-19 Research Paper</b><br>Since beginning of the Covid-19 pandemic 
number of pharmaceutical measures are invented. This paper includes the analysis of effectiveness of non-pharmaceutical
measures and impact of COVID-19 on global economy. </p>
<img class="img" src="~/images/covid.jpg">

<p style="font-size:35px;margin-top:10%;margin-left:6%;"><b style="color:cyan">&#10024; Chatbot</b><br>Basic conversation can be done with kiki(chatbot).Created using chatterbot and websocket package<br>
<a href="https://github.com/Rushika193/Braindigit/tree/master/Chatbot">Source Code</a></p>


<p style="font-size:35px;margin-top:10%;margin-left:6%;"><b style="color:cyan">&#10024;Django Website</b><br>In this you can book an appointment with mehendi artist. Select the suitable day,date and design <br>
<a href="https://github.com/Rushika193/Braindigit/tree/master/Management">Source Code</a></p>

