
    @{
    ViewData["Title"] = "Index";
            }

    <style>
        .Heading{
            font-size:45%;
            font-family:Monotype Corsiva;
        }
    </style>

    <p class="Heading">Hello Everyone!!</p>
    <p>Let me give you a brief Introduction of myself. I am Rushika Shrestha Currently doing <b>Bachelors of Computer Science </b> 
        from The NorthCap University.</p>
<img src="~/Images/portfolio.jpg" asp-append-version="true" /> 

    